h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -1.5px;
}
@media only screen and (min-width: 450px) {
  h1 {
    font-size: 3.75rem;
  }
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
@media only screen and (min-width: 450px) {
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 450px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
@media only screen and (min-width: 450px) {
  h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 450px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
@media only screen and (min-width: 450px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  h4 {
    font-size: 1.25rem;
  }
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
@media only screen and (min-width: 450px) {
  h5 {
    font-size: 1.25rem;
    line-height: 28px;
  }
}
@media only screen and (max-width: 450px) {
  h5 {
    font-size: 1.13rem;
    line-height: 22px;
  }
}

h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
@media only screen and (min-width: 450px) {
  h6 {
    font-size: 1.125rem;
    line-height: 28px;
  }
}
@media only screen and (max-width: 450px) {
  h6 {
    font-size: 1.13rem;
    line-height: 22px;
  }
}

.subtitle-l {
  font-weight: 500;
  letter-spacing: 0.1px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .subtitle-l {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 450px) {
  .subtitle-l {
    font-size: 1rem;
  }
}

.subtitle-m {
  letter-spacing: 0.1px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media only screen and (min-width: 450px) {
  .subtitle-m {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .subtitle-m {
    font-size: 0.88rem;
  }
}

.subtitle-s {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .subtitle-s {
    font-size: 0.88rem;
  }
}
@media only screen and (max-width: 450px) {
  .subtitle-s {
    font-size: 0.75rem;
  }
}

.body-l-bold {
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .body-l-bold {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-l-bold {
    font-size: 1rem;
  }
}

.body-l-regular {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  /* identical to box height, or 125% */
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .body-l-regular {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-l-regular {
    font-size: 1rem;
  }
}

.body-l-italic {
  font-style: italic;
  font-weight: normal;
  line-height: 20px;
  /* identical to box height, or 125% */
}
@media only screen and (min-width: 450px) {
  .body-l-italic {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-l-italic {
    font-size: 1rem;
  }
}

.body-m-bold {
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .body-m-bold {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-m-bold {
    font-size: 0.88rem;
  }
}

.body-m-regular {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .body-m-regular {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-m-regular {
    font-size: 0.88rem;
  }
}

.body-m-italic {
  font-style: italic;
  font-weight: normal;
  line-height: 20px;
  /* identical to box height, or 125% */
}
@media only screen and (min-width: 450px) {
  .body-m-italic {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-m-italic {
    font-size: 0.88rem;
  }
}

.body-s-bold {
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .body-s-bold {
    font-size: 0.88rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-s-bold {
    font-size: 0.75rem;
  }
}

.body-s-regular {
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.1px;
}
@media only screen and (min-width: 450px) {
  .body-s-regular {
    font-size: 0.88rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-s-regular {
    font-size: 0.75rem;
  }
}

.body-s-italic {
  font-style: italic;
  font-weight: normal;
  line-height: 20px;
  /* identical to box height, or 125% */
}
@media only screen and (min-width: 450px) {
  .body-s-italic {
    font-size: 0.88rem;
  }
}
@media only screen and (max-width: 450px) {
  .body-s-italic {
    font-size: 0.75rem;
  }
}

.button-l-regular {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* identical to box height, or 133% */
  letter-spacing: 0.75px;
}
@media only screen and (min-width: 450px) {
  .button-l-regular {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 450px) {
  .button-l-regular {
    font-size: 1rem;
  }
}

.button-m-regular {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* identical to box height, or 133% */
  letter-spacing: 0.75px;
}
@media only screen and (min-width: 450px) {
  .button-m-regular {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .button-m-regular {
    font-size: 0.88rem;
  }
}

.button-s-regular {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* identical to box height, or 133% */
  letter-spacing: 0.75px;
}
@media only screen and (min-width: 450px) {
  .button-s-regular {
    font-size: 0.88rem;
  }
}
@media only screen and (max-width: 450px) {
  .button-s-regular {
    font-size: 0.75rem;
  }
}