@import "./baseStyles/settings";
@import "./baseStyles/base";
@import "./baseStyles/fontSize";
@import "./baseStyles/main";
@import "./componentStyles/cardstyles.scss";
@import "./componentStyles/memberinformation";



@media only screen and (max-width: 600px) {
  body {
    .proyect_sip-videos {
      width: 100%;
      height: 200px;
    }
  }
}

.proyect_sip-videos {
  width: 100%;
  background-color: lightblue;
  height: 250px;
}

.minheight-col {
  min-height: 340px;
}
